@{
    Layout = "~/Views/Shared/_IISLayout.cshtml";
    ViewData["Title"] = "Danh mục tài sản";
}
@section Scripts {
    <script>

    </script>
}
<section class="parallax-effect">
    <div id="parallax-pagetitle" style="background-image: url('../libclient/images/bgdetail.jpg');background-size: contain;">
        <div class="color-overlay">
            <!-- Page title -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Trang chủ</a></li>
                            <li><a href="room-list.html">Danh mục tài sản</a></li>
                        </ol>
                        <h2>Danh mục tài sản</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>