.badge{
    font-weight: 400;
}
.counter {
    height: 14px;
    width: 14px;
    text-align: center;
    line-height: 14px;
    vertical-align: middle;
    color: $white;
    font-size: 9px;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5px;
}

.counter-small {
    height: 6px;
    width: 6px;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    color: $white;
    font-size: 9px;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;

    &:before {
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 6px;
        border: 2px solid $header-color-primary-light;
        position: absolute;
        left: -1px;
        top: -1px;
        opacity: 1;
        transform: scale(1);
        animation: countersmall 1.5s infinite;
        background: transparent
    }

    &:after {
        content: "";
        height: 6px;
        width: 6px;
        border-radius: 6px;
        border: 2px solid $red;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        transform: scale(1);
        animation: countersmall 1.5s infinite;
        animation-delay: 0.5s;
        background: transparent
    }
}


.offer {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 15px;
    display: block;
    text-transform: uppercase;
    z-index: 1;
    margin-top: 8px;
    margin-left: -4px;

    &:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0px;
        height: 4px;
        width: 4px;
        border-left: 4px solid transparent;
        border-top: 4px solid rgba(0, 0, 0, 0.5);
    }

    &.right {
        left: auto;
        right: 0;
        margin-right: -4px;
        margin-left: 0px;

        &:after {
            left: auto;
            right: 0px;
            border-left: 0px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid rgba(0, 0, 0, 0.5);
        }
    }
}
