@{
	Layout = "~/Views/Shared/_IISLayout.cshtml";
	ViewData["Title"] = "Giới thiệu";
}
@section Scripts {
	<script>

	</script>
}
<section class="parallax-effect">
    <div id="parallax-pagetitle" style="background-image: url('../libclient/images/bgdetail.jpg');background-size: contain;">
        <div class="color-overlay">
            <!-- Page title -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Trang chủ</a></li>
                            <li><a href="room-list.html">Về chúng tôi</a></li>
                        </ol>
                        <h2>Về chúng tôi</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <section id="contact-form" class="mt20">
            <div class="col-md-12">
                <h2 class="lined-heading"><span>Lời giới thiệu</span></h2>
                <p>
                    Công ty Đấu giá Hợp danh Lạc Việt xin được gửi lời chào trân trọng nhất tới Quý Khách hàng.

                    Trong xu thế phát triển tất yếu của nghề “Bán đấu giá”, Công ty Đấu giá Hợp danh Lạc Việt đã được hình thành. Với một Hội đồng cố vấn gồm các chuyên viên đấu giá, luật sư nhiều năm kinh nghiệm và được điều hành bởi các đấu giá viên chuyên nghiệp của Bộ Tư pháp, chúng tôi là một trong 18 đơn vị bán đấu giá chuyên nghiệp trên địa bàn thành phố Hà Nội được Sở Tư pháp Thành phố Hà Nội tổng hợp trong báo cáo số 35/BC-STP, ngày 15 tháng 8 năm 2011. Là đơn vị đấu giá duy nhất được Chủ tịch Ủy ban nhân dân Thành phố Hà Nội tặng bằng khen vì “đã có thành tích trong hoạt động bổ trợ Tư pháp năm 2014” ngày 19/03/2015. Công ty chúng tôi hiện có Chi nhánh tại các thành phố lớn trên toàn quốc như: Thành phố Hồ Chí Minh, Thành phố Đà Nẵng, cũng như các Văn phòng đại diện trên toàn địa bàn thành phố Hà Nội.

                    Công ty Đấu giá Hợp danh Lạc Việt là một thành viên trong Lạc Việt Group với hệ thống Văn phòng Công chứng và Công ty Luật có chuyên môn nghiệp vụ cao, đây là sự hỗ trợ đắc lực cho hoạt động bán đấu giá tài sản của Công ty chúng tôi. Do đó, Công ty Đấu giá Hợp danh Lạc Việt luôn tin tưởng và đảm bảo sẽ đem đến cho Quý Khách hàng chất lượng dịch vụ tốt nhất và hiệu quả nhất.

                    Chúng tôi được biết Quý Khách hàng đang có nhu cầu về tư vấn và tổ chức bán đấu giá tài sản, vì vậy Công ty chúng tôi xin gửi Hồ sơ đề xuất giới thiệu về năng lực của Công ty với mong muốn được chọn là tổ chức bán đấu giá tài sản cho Quý Khách hàng.

                    Với phương châm hoạt động: “Đem lại hiệu quả kinh tế vượt trội”, chúng tôi hy vọng sẽ làm hài lòng Quý Khách và mong muốn được đồng hành cùng Quý Khách hàng trong suốt quá trình hoạt động và phát triển.
                </p>
            </div>
        </section>
        <section class="usp mt100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="lined-heading"><span>Những Con Số Nổi Bật</span></h2>
                    </div>
                    <div class="col-sm-3 bounceIn appear animated" data-start="0">
                        <div class="box-icon">
                            <div class="circle"><i class="fa fa-glass fa-lg"></i></div>
                            <h3>50+</h3>
                            <p>
                                Nhà đấu giá đối tác của Lạc Việt.
                            </p>
                            <a href="#">Chi tiết</a>
                        </div>
                    </div>
                    <div class="col-sm-3 bounceIn appear animated" data-start="400">
                        <div class="box-icon">
                            <div class="circle"><i class="fa fa-credit-card fa-lg"></i></div>
                            <h3>2.076 tỷ+</h3>
                            <p>Giá trị đã bán. </p>
                            <a href="#">Chi tiết</a>
                        </div>
                    </div>
                    <div class="col-sm-3 bounceIn appear animated" data-start="800">
                        <div class="box-icon">
                            <div class="circle"><i class="fa fa-cutlery fa-lg"></i></div>
                            <h3>344+</h3>
                            <p>
                                Tài sản
                                đã đấu giá thành công.
                            </p>
                            <a href="#">Chi tiết</a>
                        </div>
                    </div>
                    <div class="col-sm-3 bounceIn appear animated" data-start="1200">
                        <div class="box-icon">
                            <div class="circle"><i class="fa fa-tint fa-lg"></i></div>
                            <h3>290+</h3>
                            <p>
                                Phiên đấu giá
                                đã diễn ra.
                            </p>
                            <a href="#">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
